html {
    font-size: 62.5%;
}

a {
    all: unset;
}

a:hover {
    cursor: pointer;
}

nav {
    height: 10rem;
    width: 100%;
    background-color: white;
}

.nav--navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.nav--navlist-items {
    font-size: 2rem;
    font-weight: 600;
}

.nav--navlist-items:not(:last-child) {
    margin-right: 8rem;
}

.marg--p {
    margin-top: 4rem;
}

.navlist--login {
    background-color: rgb(73,123,167);
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: -1rem;
    margin-left: 4rem;
    transition: all ease-in-out;
}

.navlist--login:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(black, .2);
}

/* .navlist--login:hover::after{

} */

@media screen and (max-width: 1024px) and (min-width: 900px) {
    .nav--navlist-items:not(:last-child) {
        margin-right: 2.5rem;
    }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
    .nav--navlist-items:not(:last-child) {
        margin-right: 2rem;
    }
    .nav--navlist-items {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .navlist--login {
        margin-left: 2.5rem;
    }
}